In [1]:
import pandas as pd
import random

### First, we will check out the series (fancy list)

In [2]:
randos = pd.Series([random.randint(0,100) for i in range(10)])
randos

0    11
1     9
2    17
3    44
4    40
5     3
6    91
7    83
8    14
9    67
dtype: int64

In [3]:
randos[randos < 50]

0    11
1     9
2    17
3    44
4    40
5     3
8    14
dtype: int64

In [4]:
l = list(randos)

In [5]:
l

[11, 9, 17, 44, 40, 3, 91, 83, 14, 67]

### DataFrames! (kind of like excel columns)

In [6]:
states_dict = {
    "states": ["New York", "California", "Texas", "Florida", "New Jersey", "Washington"],
    "capital": ["New York City", "Sacramento", "Austin", "Tallahassee", "Trenton", "Olympia"],
    "population": [19750000, 38800000, 26960000, 19890000, 8938000, 7062000]
}
states_df = pd.DataFrame(states_dict)
states_df

         capital  population      states
0  New York City    19750000    New York
1     Sacramento    38800000  California
2         Austin    26960000       Texas
3    Tallahassee    19890000     Florida
4        Trenton     8938000  New Jersey
5        Olympia     7062000  Washington

In [7]:
states_df.states # Nice dot notation

0      New York
1    California
2         Texas
3       Florida
4    New Jersey
5    Washington
Name: states, dtype: object

In [8]:
states_df[['states', 'capital']]

       states        capital
0    New York  New York City
1  California     Sacramento
2       Texas         Austin
3     Florida    Tallahassee
4  New Jersey        Trenton
5  Washington        Olympia

In [9]:
states_df.loc[3:4] # gives you the row

       capital  population      states
3  Tallahassee    19890000     Florida
4      Trenton     8938000  New Jersey

In [10]:
states_df.loc[[1,3,4]]

       capital  population      states
1   Sacramento    38800000  California
3  Tallahassee    19890000     Florida
4      Trenton     8938000  New Jersey

In [11]:
states_df.set_index('states') # will not mutate unless you set inplace=True

                  capital  population
states
New York    New York City    19750000
California     Sacramento    38800000
Texas              Austin    26960000
Florida       Tallahassee    19890000
New Jersey        Trenton     8938000
Washington        Olympia     7062000

In [12]:
states_df.set_index('states', inplace=True)

In [13]:
states_df

                  capital  population
states
New York    New York City    19750000
California     Sacramento    38800000
Texas              Austin    26960000
Florida       Tallahassee    19890000
New Jersey        Trenton     8938000
Washington        Olympia     7062000

In [14]:
states_df[[1]]

            population
states
New York      19750000
California    38800000
Texas         26960000
Florida       19890000
New Jersey     8938000
Washington     7062000

In [15]:
states_df['capital'].loc['New York'] = 'Albany'

/home/david/codefellows/501/ENV/lib/python3.5/site-packages/pandas/core/indexing.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [16]:
states_df.reset_index(inplace=True)
states_df

       states      capital  population
0    New York       Albany    19750000
1  California   Sacramento    38800000
2       Texas       Austin    26960000
3     Florida  Tallahassee    19890000
4  New Jersey      Trenton     8938000
5  Washington      Olympia     7062000

In [17]:
states_df.set_index('states', inplace=True)
states_df.rename(index={'New York': 'NY', 'California': 'CA', 'Texas': 'TX', 'Florida': 'FL',  'New Jersey': 'NJ', 'Washington': 'WA'}, columns={'capital': 'capital city'}, inplace=True)

In [18]:
states_df

       capital city  population
states
NY           Albany    19750000
CA       Sacramento    38800000
TX           Austin    26960000
FL      Tallahassee    19890000
NJ          Trenton     8938000
WA          Olympia     7062000

In [19]:
new_row = {'capital city': ['Springfield'], 'population': [300000], 'states': ['IL']}
new_df = pd.DataFrame(new_row).set_index('states')

In [20]:
pd.concat([states_df, pd.DataFrame(new_row)]) # error here

   capital city  population states
NY       Albany    19750000    NaN
CA   Sacramento    38800000    NaN
TX       Austin    26960000    NaN
FL  Tallahassee    19890000    NaN
NJ      Trenton     8938000    NaN
WA      Olympia     7062000    NaN
0   Springfield      300000     IL

In [21]:
import pandasql as sql
sql.sqldf('SELECT population FROM states_df')

   population
0    19750000
1    38800000
2    26960000
3    19890000
4     8938000
5     7062000

In [22]:
!ls

Data_visualization.ipynb  Pandas.ipynb	       vgsales.csv
numpy-demo.ipynb	  vgsales_cleaned.csv  video_game_sales.ipynb

In [23]:
data = pd.read_csv('vgsales.csv')

In [24]:
data.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [25]:
# omg so easy

In [26]:
data.loc[0]

Rank                     1
Name            Wii Sports
Platform               Wii
Year                  2006
Genre               Sports
Publisher         Nintendo
NA_Sales             41.49
EU_Sales             29.02
JP_Sales              3.77
Other_Sales           8.46
Global_Sales         82.74
Name: 0, dtype: object

In [27]:
# data.to_json('neato.json')
# data.to_csv('neato.csv', index=False, header=False)